<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="System.ComponentModel.Annotations" version="4.5.0" targetFramework="net452" requireReinstallation="true" />
  <package id="Theraot.Core" version="3.0.0" targetFramework="net452" requireReinstallation="true" />
  <package id="Vanara.Core" version="2.2.1" targetFramework="net452" />
  <package id="Vanara.PInvoke.Kernel32" version="2.2.1" targetFramework="net452" />
  <package id="Vanara.PInvoke.Shared" version="2.2.1" targetFramework="net452" />
  <package id="Vanara.PInvoke.VirtDisk" version="2.2.1" targetFramework="net452" />
</packages>